<!-- <form (ngSubmit)="ajouterProduit()">
    <label for="id">ID:</label>
    <input type="text" id="id" [(ngModel)]="produit.id" name="id" required>
  
    <label for="code">Code:</label>
    <input type="text" id="code" [(ngModel)]="produit.code" name="code" required>
  
    <label for="designation">Designation:</label>
    <input type="text" id="designation" [(ngModel)]="produit.designation" name="designation" required>
  
    <label for="prix">Prix:</label>
    <input type="number" id="prix" [(ngModel)]="produit.prix" name="prix" required>
  
    <button type="submit">Ajouter</button>
  </form> -->