<div class="container">
  <h1>Liste des produits</h1>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Designation</th>
        <th>Prix</th>
        <th>Categories</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produits">
        <td>{{ p.id }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.designation }}</td>
        <td>{{ p.prix }}</td>
        <td>{{ p.categorie?.libelle }}</td>
        <td>
          <button (click)="editerProduit(p)"  class="btn btn-outline-secondary"><i class="bi bi-pencil-square"></i>
            Editer
          </button>
        </td>
        <td>
          <button (click)="supprimerProduit(p.id)" class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="formulaireVisible && produitCourant.id !== undefined" class="container">
  <div class="modal-header">
    <h5 class="modal-title text-center">Modifier Produit</h5>

  </div>
  <form #produitForm="ngForm"(ngSubmit)="validerFormulaire(produitForm)">
    <table>
      <tr>
        <td>Id:</td>
        <td><input type="text" class="form-control" name="id" [(ngModel)]="produitCourant.id" readonly></td>
      </tr>
      <tr>
        <td>Code:</td>
        <td><input type="text" class="form-control" name="code" [(ngModel)]="produitCourant.code" required></td>
      </tr>
      <tr>
        <td>Designation:</td>
        <td><input type="text" class="form-control" name="designation" [(ngModel)]="produitCourant.designation"
            required></td>
      </tr>
      <tr>
        <td>Prix:</td>
        <td><input type="number" class="form-control" name="prix" [(ngModel)]="produitCourant.prix" required></td>
      </tr>
      <tr>
        <td>Categories:</td>
        <td>
          <select class="form-control" name="categorie" [(ngModel)]="produitCourant.categorie" required>
            <option *ngFor="let categorie of categories" [ngValue]="categorie">
              {{ categorie.libelle }}
            </option>
          </select>
        </td>
      </tr>
    </table>
    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Update</button>
    <button type="button" class="btn btn-outline-danger" (click)="annuler()" >Cancel</button>
  </form>
</div>